[submodule "kconfig"]
	path = kconfig
	url = https://github.com/heddxh/kconfig
[submodule "kde-gtk-config"]
	path = kde-gtk-config
	url = https://github.com/heddxh/kde-gtk-config
[submodule "kwin"]
	path = kwin
	url = https://github.com/heddxh/kwin
